.canvas1 {
    background-color: blueviolet;
}

.community_section {
    height: 300px;
    background-color: blueviolet;
}

.community_section img {
    width: 100px;
    height: 100px;
}

#user {
    float: left;
}

#vrl_user h6 {
    margin-left: 16px;
}

